name: Run
on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
         go-version: '1.25'

      - name: Go Run
        run: go run ./...
